/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

body
{
	background-color:white;
}
.container
{
	background-color:rgb(55,55,55);
}
h1
{
	color:black;
}
#navbar
{
	width:100%;
}
div.row
{
	background-color:white;
}
/* I am*/
#block-block-1
{
	color:black;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius: 5px; 
	/*background:linear-gradient(to left top, dodgerblue, black);*/
	box-shadow:1px 1px 20px rgb(45,45,45) inset;
	-moz-box-shadow:1px 1px 20px rgb(45,45,45) inset;
	-webkit-box-shadow:1px 1px 20px rgb(45,45,45) inset;
	border:1px solid white;
	text-align:center;
	background-color:white;
}

/* block title*/
.block-title
{
	color:dodgerblue;
}
/* latest contacts */
#block-views-latest-contacts-block
{
	border:1px solid white;
	color:white;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius: 5px;
	margin-top:2%;
	box-shadow:1px 1px 30px rgb(45,45,45) inset;
	-moz-box-shadow:1px 1px 30px rgb(45,45,45) inset;
	-webkit-box-shadow:1px 1px 30px rgb(45,45,45) inset;
}

div.region.region-sidebar-first.well
{
	/*background:linear-gradient(to left top, dodgerblue, black);*/
	box-shadow:1px 1px 30px rgb(45,45,45);
	-moz-box-shadow:1px 1px 30px rgb(45,45,45);
	-webkit-box-shadow:1px 1px 30px rgb(45,45,45);
	background-color:white;
}
	
}

/* welcome */
div#first-time p
{
	color:dodgerblue;
}
/* navbar */
ul.menu.nav.navbar-nav a
{
	color:white;
}
ul.menu.nav.navbar-nav a:hover
{
	background-color:dodgerblue;
	color:white;
}
li.first.leaf.active a
{
	color:white;
	background-color:steelblue;
}
li.leaf.active-trail.active a
{
	color:white;
	background-color:steelblue;
}
/* dropdown menu*/
a.active-trail.dropdown-toggle.active
{
	background-color:steelblue;
}
a.active-trail.dropdown-toggle.active:hover
{
	color:white;
}
ul.dropdown-menu
{
	background-color:white smoke;
}

ul.nav li.dropdown ul.dropdown-menu a
{
  color:black;
  margin-top:5px;
}
ul.nav li.dropdown ul.dropdown-menu a:active
{
  color:white;
}
ul.nav li.dropdown ul.dropdown-menu a:hover
{
  color:white;
}
.caret
{
	border-top:4px solid red;
}

/* end */
.navbar-default .navbar-brand {
  color: white;
}
.navbar-toggle {
  background-color: dodgerblue
}
.navbar-default .navbar-toggle {
  border-color: white
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: dodgerblue
}

/* end */
div.content
{
	background-color:rgba(0,0,0,0.5);
	color:white;
}
a
{
	color:black;
}
#block-system-powered-by
{
	color:dodgerblue;
}
div.views-field.views-field-title
{
	text-align:center;
	color:white;
}
#block-system-main li a
{
	color:black;
	font-size:20px;
}
h1.page-header
{
	text-align:center;
}
div.region.region-content
{
	background-color:white;
}
/* div.field-item.even
{
	background-color:steelblue;
}*/
.view-memo-style
{
	background-color:rgb(76,237,76);
	padding:5px;
	text-align:center;
	color:white;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius: 5px;
}
.view-memo-style:hover
{
	box-shadow:3px 3px 20px green inset;
	-moz-box-shadow:3px 3px 20px green inset;
	-webkit-box-shadow:3px 3px 20px green inset;;
}
.view-memo-style a
{
	color:black;
}
.view-memo-style a:hover
{
	text-decoration:none;
	color:black;
}
.view-job-style
{
	background-color:orange;
	padding:5px;
	text-align:center;
	color:white;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius: 5px;
}
.view-job-style a:hover
{
	text-decoration:none;
	color:black;
}
.view-job-style:hover
{
	box-shadow:3px 3px 20px #FF4500 inset;
	-moz-box-shadow:3px 3px 20px #FF4500 inset;
	-webkit-box-shadow:3px 3px 20px #FF4500 inset;
}
.view-jobhistory-style
{
	background-color:chocolate;
	padding:5px;
	text-align:center;
	color:white;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius: 5px;
}
.view-jobhistory-style:hover
{
	box-shadow:3px 3px 20px brown inset;
	-moz-box-shadow:3px 3px 20px brown inset;
	-webkit-box-shadow:3px 3px 20px brown inset;
}
.view-jobhistory-style a:hover
{
	text-decoration:none;
	color:black;
}
.manage-job
{
	background-color:dodgerblue;
	padding:5px;
	text-align:center;
	color:white;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius: 5px;
}
.manage-job:hover
{
	box-shadow:3px 3px 20px blue inset;
	-moz-box-shadow:3px 3px 20px blue inset;
	-webkit-box-shadow:3px 3px 20px blue inset;
	text-decoration:none;
}
.manage-job a:hover
{
	text-decoration:none;
}
.print-memo-style
{
	background-color:rgb(76,237,76);
	padding:5px;
	text-align:center;
	color:white;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius: 5px;
	width:50%;
	margin-left:auto;
	margin-right:auto;
}
.print-memo-style:hover
{
	box-shadow:3px 3px 20px green inset;
	-moz-box-shadow:3px 3px 20px green inset;
	-webkit-box-shadow:3px 3px 20px green inset;
}
.print-memo-style a:hover
{
	text-decoration:none;
	color:black;
}
footer.footer.container
{
	background-color:white;
	border-top-color:rgb(45,45,45);
	border-top-style:solid;
	border-top-width:2px;
}
.print-pdf
{
	padding:7px;
	background-color:dodgerblue;
	color:white;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius: 5px;
}
.print-pdf:hover
{
	box-shadow:0 0 20px blue inset;
	-moz-box-shadow:0 0 20px blue inset;
	-webkit-box-shadow:0 0 20px blue inset;
	text-decoration:none;
	color:white;
}
.no-result
{
	font-size:20px;
	text-align:center;
}